<!DOCTYPE html>
<html>
<head>
  <title>RailsFirstStep</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet" type="text/css"  />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/secondary' %>

  <%= render 'layouts/popPosts' %>

  <%= render 'layouts/footer' %>
</body>
</html>
